<!DOCTYPE html>
<html>
<head>
    <title>Car Price Prediction</title>
</head>
<body>
    <h1>Car Price Prediction Form</h1>
    <form action="/predict" method="post">
        <label for="Present_Price">Present Price (Lakhs):</label>
        <input type="text" id="Present_Price" name="Present_Price"><br><br>

        <label for="Kms_Driven">Kms Driven:</label>
        <input type="text" id="Kms_Driven" name="Kms_Driven"><br><br>

        <label for="Fuel_Type">Fuel Type (0: Petrol, 1: Diesel, 2: CNG):</label>
        <input type="text" id="Fuel_Type" name="Fuel_Type"><br><br>

        <label for="Seller_Type">Seller Type (0: Dealer, 1: Individual):</label>
        <input type="text" id="Seller_Type" name="Seller_Type"><br><br>

        <label for="Transmission">Transmission (0: Manual, 1: Automatic):</label>
        <input type="text" id="Transmission" name="Transmission"><br><br>

        <label for="Owner">Owner (0: First, 1: Second, 2: Third):</label>
        <input type="text" id="Owner" name="Owner"><br><br>

        <label for="Age_of_the_car">Age of the car:</label>
        <input type="text" id="Age_of_the_car" name="Age_of_the_car"><br><br>

        <button type="submit">Predict</button>
    </form>

    {% if prediction_text %}
        <h3>{{ prediction_text }}</h3>
    {% endif %}
</body>
</html>
